.form
{
	border: 1px solid black;
	padding: 10px;
}

input
{
	width: 99%;
}

.h1
{
	text-align: center;
}

.above
{
		text-decoration: none;
}

.btncenter
{
	text-align: center;
}

.btn
{
	background-color: #088DA5;
	padding: 10px;
}

.btn:hover
{
	background-color: #20B2AA;
}

